attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.2.0
idna==3.4
isodate==0.6.1
lxml==4.9.3
numpy==1.25.1
onvif-zeep==0.2.12
opencv-python==4.8.0.74
Pillow==10.0.0
platformdirs==3.9.1
pytz==2023.3
requests==2.31.0
requests-file==1.5.1
requests-toolbelt==1.0.0
six==1.16.0
ttkthemes==3.2.2
urllib3==2.0.4
zeep==4.2.1
